.wrapper {
  padding: 20px;
  background-color: #eee;
}

.element{
  display:flex;
  background-color: #ddd;
  justify-content: space-around;
  margin-bottom: 5px;
  height:40px;
  align-items: center;
}